@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/functions';
@import './variables';

html,
body {
  height: 100%;
  text-align: center;
}
img {
  object-fit: contain;
  max-width: 100%;
}

.primary-image {
  height: 300px;
}

.images {
  height: 150px;
}

